@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}
.bordenegro{
height: 30px;
top: 0px;
background: #222222;
}
.menu{
    display:flex;
    justify-content: flex-end;
}
.ofertas{
    width: 138px;
    height: 40px;
    left: calc(50% - 138px/2 - 353px);
    top:4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #F3F3F3; 
}
.idiomas{
    width:36px;
    height:12px;
    top:4px;
    font-family:Roboto;
    font-style:normal;
    font-weight:normal;
    font-size:10px;
    line-height:12px;
    color: #F3F3F3;
    display:inline-block;
    flex-direction:row;
    justify-content:flex-end;
}
.moneda{
    width: 26px;
    height: 12px;
    left: calc(50% - 26px/2 + 439px);
    top: 4px;
    font-family:Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color:#F3F3F3;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
header{
height: 00px;
top:0px;
background: #F0A83E;
}
main{
    width: 100%;
    height: 1500px;
    left: 0px;
    top: 81px; 
}  
section.plato{
background-size:cover;
}
.fotind{
    position: absolute;
    left: calc(50% - 1024px/2);
    bottom: 270px;
}
footer{
height:30px;
background: #222222;
bottom: 10px;
}