@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
* {
box-sizing: border-box;
margin: 0pt;
padding: 0pt;
list-style: none;
}
body{
font-family:'Be Vietnam Pro';
background-image: url(./bg-tablet-pattern.svg);
background-repeat: no-repeat;
background-position:center;
background-size: cover;
}
header {
    font-family:'Be Vietnam Pro';
    color: #242e52;
    width: 100%;
    height: 100vh;
}
nav {
height:100px;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
}
.logo {
width:140px;
margin-left:20px;
}
.bar-btn {
font-size:25px;
color:#fff;
margin-right: 20px;
cursor: pointer;
}
.nav-menu {
position: fixed;
width:100%;
height:0vh;
top:100px;
background:rgba (0,0,0,0.95);
text-align:center;
transition:all .5s;
}
.nav-menu li {
display:none;
line-height:30px;
margin: 50px 0;
}
.nav-menu li a {
color: #f5f5f5;
font-size:16px;
text-transform:uupercase; 
font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover {
color: rgb(248,8,8);
transition:3.s
}
#check{
display:none;
}
#check:checked ~ .nav-menu{
height: 100vh;
}
#check:checked ~ .nav-menu{
display:block;
}
button{
font-family:'Be Vietnam Pro';
color: #FFFFFF; 
background:#f3603b;
box-shadow: rgb(255, 239, 234);
}
/*configuración para Celulares*/

@media screen and (min-width:375px){
    header{
    position:absolute;
    width:100%;
    height:150px;
    padding: 20px 20px;
    }
}
.menu a{
margin: 0%; 
}


/*configuración para Desktop*/

@media screen and (max-width: 1440px){
.menu nav{
display: none;
}
.menu input:checked ~ .fa-bars {
display: none;
}
.menu input:checked ~ nav {
    display: block;
    }
}